h1 {
    background-color: brown;
    text-align: center;
    color: azure;
}

    .recipes-text {
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: 18px;  
      font-weight: 100;
    }

    h2 {
        background-color: aqua;
        text-align: center;
        color: antiquewhite;

    }

    .gari {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 18px;
    }

    h3 {
        background-color: turquoise;
        color: chocolate;
        text-align: center;
    }
    .kelewele {
        font-family: 'Times New Roman', Times, serif;
        font-display: block;
        font-size: 18px;
    }